n8n-workflow.json
{
  "name": "Banco de Ideias Vistto — Coleta TikTok",
  "nodes": [
    {
      "parameters": {
        "content": "## Banco de Ideias Vistto\nColeta semanal de trends do TikTok\n\nEste fluxo roda toda quarta as 6h, coleta videos nos 5 nichos medicos e salva no Google Drive. As 7h o Claude Code gera o banco de ideias completo.\n\nAntes de ativar:\n1. No no 'Coletar Videos TikTok': troque SUA_CHAVE_AQUI pela sua chave do RapidAPI\n2. No no 'Salvar no Google Drive': configure a credencial e o ID da pasta\n\nPara testar: clique em Test Workflow",
        "height": 220,
        "width": 360,
        "color": 7
      },
      "id": "sticky-intro",
      "name": "Instrucoes",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [240, 100]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * 3"
            }
          ]
        }
      },
      "id": "trigger",
      "name": "Toda Quarta as 6h",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [240, 380]
    },
    {
      "parameters": {
        "content": "Troque SUA_CHAVE_AQUI pela sua chave do RapidAPI.\nEdite as hashtags de busca se quiser adicionar ou remover termos.\nO delay de 3s entre buscas evita rate limit.",
        "height": 100,
        "width": 340,
        "color": 3
      },
      "id": "sticky-coletar",
      "name": "Nota — Coletar Videos",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [480, 280]
    },
    {
      "parameters": {
        "jsCode": "// =============================================\n// CONFIGURACOES — edite aqui\n// =============================================\nconst RAPIDAPI_KEY = 'SUA_CHAVE_AQUI';\nconst DELAY_MS = 3000;\n\nconst buscas = [\n  { nicho: 'Cirurgia Plastica', hashtag: 'cirurgiaplastica' },\n  { nicho: 'Cirurgia Plastica', hashtag: 'cirurgiaestetica' },\n  { nicho: 'Cirurgia Plastica', hashtag: 'plasticsurgery' },\n  { nicho: 'Ortopedia da Coluna', hashtag: 'dorcostas' },\n  { nicho: 'Ortopedia da Coluna', hashtag: 'herniaddisco' },\n  { nicho: 'Ortopedia da Coluna', hashtag: 'colunavertebral' },\n  { nicho: 'Harmonizacao Facial', hashtag: 'harmonizacaofacial' },\n  { nicho: 'Harmonizacao Facial', hashtag: 'fullface' },\n  { nicho: 'Harmonizacao Facial', hashtag: 'bichectomia' },\n  { nicho: 'Dermatologia', hashtag: 'dermatologia' },\n  { nicho: 'Dermatologia', hashtag: 'dermatologista' },\n  { nicho: 'Dermatologia', hashtag: 'skincare' },\n  { nicho: 'Psicologia', hashtag: 'psicologia' },\n  { nicho: 'Psicologia', hashtag: 'saudemental' },\n  { nicho: 'Psicologia', hashtag: 'terapia' }\n];\n\n// =============================================\n// COLETA\n// =============================================\nconst todos = [];\n\nfor (const busca of buscas) {\n  try {\n    const url = 'https://tiktok-api23.p.rapidapi.com/api/search/video?keyword=' +\n      encodeURIComponent(busca.hashtag) + '&cursor=0&search_id=0';\n\n    const resp = await fetch(url, {\n      method: 'GET',\n      headers: {\n        'x-rapidapi-host': 'tiktok-api23.p.rapidapi.com',\n        'x-rapidapi-key': RAPIDAPI_KEY\n      }\n    });\n\n    const rawText = await resp.text();\n    console.log('RAW #' + busca.hashtag + ' status=' + resp.status + ' body=' + rawText.substring(0, 300));\n\n    let data;\n    try {\n      data = JSON.parse(rawText);\n    } catch(parseErr) {\n      console.log('JSON parse error para #' + busca.hashtag + ': ' + parseErr.message);\n      await new Promise(r => setTimeout(r, DELAY_MS));\n      continue;\n    }\n\n    // Tenta todas as possiveis chaves de lista de videos\n    const videoList = data.item_list || data.videoList || data.data || data.videos || data.result || [];\n    console.log('#' + busca.hashtag + ' -> chaves disponiveis: ' + Object.keys(data).join(', '));\n    console.log('#' + busca.hashtag + ' -> ' + videoList.length + ' videos encontrados');\n\n    for (const v of videoList.slice(0, 5)) {\n      const autor = (v.author && (v.author.unique_id || v.author.uniqueId || v.author.nickname)) || 'N/A';\n      const videoId = v.id || v.aweme_id || v.videoId || '';\n      const link = videoId ? 'https://www.tiktok.com/@' + autor + '/video/' + videoId : 'N/A';\n      const stats = v.statistics || v.stats || {};\n\n      todos.push({\n        nicho: busca.nicho,\n        hashtag: busca.hashtag,\n        link: link,\n        autor: autor,\n        views: stats.play_count || stats.playCount || v.play_count || 'N/A',\n        likes: stats.digg_count || stats.diggCount || v.digg_count || 'N/A',\n        comentarios: stats.comment_count || stats.commentCount || v.comment_count || 'N/A',\n        descricao: v.desc || v.description || v.title || 'N/A',\n        data: v.create_time ? new Date(v.create_time * 1000).toLocaleDateString('pt-BR') :\n              v.createTime ? new Date(v.createTime * 1000).toLocaleDateString('pt-BR') : 'N/A'\n      });\n    }\n  } catch (e) {\n    console.log('Erro em #' + busca.hashtag + ': ' + e.message);\n  }\n\n  await new Promise(r => setTimeout(r, DELAY_MS));\n}\n\nconsole.log('Total coletado: ' + todos.length + ' videos');\nreturn [{ json: { videos: todos, total: todos.length } }];"
      },
      "id": "coletar-videos",
      "name": "Coletar Videos TikTok",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 380]
    },
    {
      "parameters": {
        "jsCode": "const todos = $input.item.json.videos || [];\n\nconst porNicho = {};\nfor (const v of todos) {\n  if (!porNicho[v.nicho]) porNicho[v.nicho] = [];\n  const duplicado = porNicho[v.nicho].some(x => x.link === v.link);\n  if (!duplicado && v.link !== 'N/A') {\n    porNicho[v.nicho].push(v);\n  }\n}\n\nconst hoje = new Date().toLocaleDateString('pt-BR');\nconst hojeISO = new Date().toISOString().split('T')[0];\nlet texto = '# Dados TikTok - ' + hoje + '\\n\\n';\nlet totalVideos = 0;\n\nconst ordem = [\n  'Cirurgia Plastica',\n  'Ortopedia da Coluna',\n  'Harmonizacao Facial',\n  'Dermatologia',\n  'Psicologia'\n];\n\nfor (const nicho of ordem) {\n  const videos = porNicho[nicho] || [];\n  texto += '## ' + nicho + '\\n\\n';\n\n  if (videos.length === 0) {\n    texto += 'Nenhum video coletado para este nicho.\\n\\n';\n    continue;\n  }\n\n  videos.forEach(function(v, i) {\n    texto += '### Video ' + (i + 1) + '\\n';\n    texto += 'Link: ' + v.link + '\\n';\n    texto += 'Autor: @' + v.autor + '\\n';\n    texto += 'Views: ' + v.views + ' | Likes: ' + v.likes + ' | Comentarios: ' + v.comentarios + '\\n';\n    texto += 'Descricao: ' + v.descricao + '\\n';\n    texto += 'Data: ' + v.data + '\\n\\n';\n    totalVideos++;\n  });\n}\n\nreturn [{ json: { texto: texto, data: hoje, hojeISO: hojeISO, totalVideos: totalVideos } }];"
      },
      "id": "montar-texto",
      "name": "Montar Texto Final",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [720, 380]
    },
    {
      "parameters": {
        "jsCode": "const texto = $input.item.json.texto;\nconst hojeISO = $input.item.json.hojeISO;\nconst fileName = 'vistto-tiktok-' + hojeISO + '.md';\n\nconst buffer = Buffer.from(texto, 'utf-8');\nconst binaryData = await this.helpers.prepareBinaryData(\n  buffer,\n  fileName,\n  'text/plain'\n);\n\nreturn [{\n  json: Object.assign({}, $input.item.json, { fileName: fileName }),\n  binary: { arquivo: binaryData }\n}];"
      },
      "id": "preparar-arquivo",
      "name": "Preparar Arquivo",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [960, 380]
    },
    {
      "parameters": {
        "content": "Configure aqui:\n1. Adicione credencial Google Drive (OAuth2)\n2. Crie uma pasta no Drive: Vistto / TikTok Data\n3. Abra a pasta, copie o ID da URL:\n   drive.google.com/drive/folders/[ID AQUI]\n4. Cole o ID no campo Parent Folder ID",
        "height": 160,
        "width": 300,
        "color": 3
      },
      "id": "sticky-drive",
      "name": "Nota — Google Drive",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [1180, 260]
    },
    {
      "parameters": {
        "operation": "upload",
        "name": "={{ $json.fileName }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "myDrive"
        },
        "folderId": {
          "__rl": true,
          "mode": "id",
          "value": "COLE_AQUI_O_ID_DA_PASTA"
        },
        "binaryPropertyName": "arquivo",
        "options": {
          "simplifyOutput": true
        }
      },
      "id": "salvar-drive",
      "name": "Salvar no Google Drive",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [1180, 380]
    }
  ],
  "connections": {
    "Toda Quarta as 6h": {
      "main": [
        [{ "node": "Coletar Videos TikTok", "type": "main", "index": 0 }]
      ]
    },
    "Coletar Videos TikTok": {
      "main": [
        [{ "node": "Montar Texto Final", "type": "main", "index": 0 }]
      ]
    },
    "Montar Texto Final": {
      "main": [
        [{ "node": "Preparar Arquivo", "type": "main", "index": 0 }]
      ]
    },
    "Preparar Arquivo": {
      "main": [
        [{ "node": "Salvar no Google Drive", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1
}
